body{
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: 30px;
}

h2{
    margin-bottom: 16px;
}

form{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 350px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
