body {
    background-color: rgb(109, 23, 21);
}

form {
    box-shadow: 0 4px 24px rgb(2, 0, 0);
    background-color: brown;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 14px;
    margin-bottom: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

input, select{
    margin-left: 30%;
    border-radius: 14%;
    width: 43%;
}
label{
    margin-left: 45%;
}

#label-nome{
    background-color: rgb(241, 3, 43);
}

.label-nomes{
    color: blueviolet;
}

button{
     margin-left: 40%;
     width: 105px;
     padding: 12px;
     background-color: red;
     border: none;
     cursor: pointer;

}

/* 
    h2{
        tag
    }

    .card{
        class
    }

    #label{
        id
    }


*/

/* body{
    background-color: darkseagreen;
    padding: 30px;
     o display: flex serve para colocar uma posição melhor no background
    display: flex;
    justify-content: center;
} 
h1{
    color: black;
    margin: left;   
    padding: 50px;
} 

form{
    padding: 25px;
    background-color: antiquewhite;
    border-radius: 3%;
}

input{
    width: 100%;
    padding: 8px;
    border: 1px solid #35dbf4;
    border-radius: 4px;
    margin-bottom: 12px;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/