body {
    background-color: black;
    color: yellow;
}

h2 {
    background-color: red;
    color: rgb(249, 249, 249);
    font-family: fantasy;
    font-size: larger;
    margin: 50px 10px 20px 70px;
    padding: 20px;
    /* margem de 50px em todos os lados vao receber os 50px */
    /* ao colocar o margin/padding ele faz sentido horario top, right, botton, left */
    /* ao colocar apenas dois valores o primeiro é top e botton, e o outro right e left */
    /* ao colocar apenas um margin/padding ele vai para todas as direções */
    /* margin espaçamento externo padding interno */
}

img {
    /* width é a largura/tamanho */
    /* o que vai centralizar a div é o margin-left. LEMBRAR QUE É O **MARGIN** */
    width: 110px;
    background-color: white;
    border: 10px solid rgb(249, 249, 249);
    border-radius: 50%;
    margin-left: 45%;
}