form {
    background-color: black;
    box-shadow: 0 4px 24px rgb(2, 0, 0);
    max-width: 260px;
    max-height: 600px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 14px;
    margin-bottom: 12px;

}

body {
    background-color: white;
}

.input_vermelho{
    width: 90px;
    height: 90px;
    background-color: red;
    margin: 30px;
    border-radius: 50%;
    margin-left: 30%;
    padding: 10px;

}

.input_amarelo {
    width: 90px;
    height: 90px;
    outline: 2px solid rgb(217, 255, 1);
    background-color: yellow;
    margin: 30px;
    border-radius: 50%;
    margin-left: 30%;
    padding: 10px;
}

.input_verde {
    width: 90px;
    height: 90px;
    background-color: rgb(0, 186, 0);
    margin: 30px;
    border-radius: 50%;
    margin-left: 30%;
    padding: 10px;
}