form {
    background-color: black;
    box-shadow: 0 4px 24px rgb(2, 0, 0);
    max-width: 260px;
    max-height: 600px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 14px;
    margin-bottom: 12px;

}

body {
    background-color: white;
}

.input_vermelho{
    width: 90px;
    height: 90px;
    background-color: rgb(230, 0, 0);
    margin: 30px;
    border-radius: 50%;
    margin-left: 30%;
    padding: 10px;

}

.input_amarelo {
    width: 90px;
    height: 90px;
    background-color: yellow;
    margin: 30px;
    border-radius: 50%;
    margin-left: 30%;
    padding: 10px;
}

.input_verde {
    width: 90px;
    height: 90px;
    background-color: rgb(0, 120, 0); 
    margin: 30px;
    border-radius: 50%;
    margin-left: 30%;
    padding: 10px;
}

.input_vermelho:hover {
    background-color: rgb(255, 17, 0);
    transform: scale(1.1); 
}
.input_amarelo:hover {
    background-color: rgb(234, 255, 0);
    transform: scale(1.1); 
}
.input_verde:hover {
    background-color: rgb(0, 186, 0);
    transform: scale(1.1); 
}